<!--
 * @Author: your name
 * @Date: 2019-12-12 15:11:34
 * @LastEditTime: 2019-12-12 16:52:50
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \htdocs\customer.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>customer</title>
</head>

<body>
    <div id="app">
        <form>
            <input type="number" placeholder="请留下您的联系方式" v-model="customer.tel">
            <input type="text" placeholder="请留下您的个人意向" v-model="customer.intention">
        </form>
        <button type="button" @click="upLoad()">提交</button>
    </div>
    <!--引入vue-cdn-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                customer: { //客户信息
                    tel: '', //电话
                    intention: '' //意向
                }
            },
            methods: {
                //提交信息
                upLoad() {
                    var fd = new FormData()
                    fd.append('tel', this.customer.tel);
                    fd.append('intention',this.customer.intention);
                    axios.post('/api/customer',fd, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(res => {
                        if(res.status==200){
                            console.log('提交成功')//可改交互
                        }
                    })
                }
            },
        })
    </script>
</body>

</html>